<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Mr.T0t000 Article</title>

</head>

<body class="bg-yellow-100 dark:bg-gray-800">
    <div>
        <nav class="fixed z-50 bg-yellow-100 w-full  dark:bg-gray-800 flex flex-row justify-center items-center h-10">
            <button id="toggle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-yellow-500" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </nav>

        <div class="flex justify-center ">
            <div class="w-11/12 lg:px-72 md:px-56 px-10 pt-20 overflow-y-auto ">
                <div class="flex flex-col ">
                    <img src="../img/figma.png" class="w-14 h-14" alt="python">

                    <h1 class="lg:text-3xl md:text-xl sm:text-sm text-gray-800 dark:text-gray-200 mt-4 font-semibold">
                        Figma Figma FigmaFigma Figma Figma Figma
                    </h1>

                    <h3 class="text-xs text-gray-800 dark:text-gray-200 mt-2 mb-8">
                        Senin, 1 Juni 2020
                    </h3>

                    <div class=" text-md text-gray-800 dark:text-gray-200 mt-8">
                        <h1 class="lg:text-3xl md:text-xl text-lg mb-2">
                            Halo
                        </h1>

                        <p class="lg:text-lg md:text-base text-sm pt-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quaerat atque, iure totam sed
                            laudantium amet eaque! Labore, voluptatibus ducimus? Quos unde quisquam omnis saepe veniam
                            blanditiis accusantium totam a.
                            <br><br>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ratione blanditiis
                            veniam illo nemo enim perspiciatis, ea deserunt. Modi alias omnis ipsa ratione, error nemo
                            saepe accusantium aliquam? Laborum, maiores.
                            <br><br>
                        </p>


                        <h1 class="lg:text-3xl md:text-xl text-lg mb-2 mt-8">
                            Halo-Halo
                        </h1>

                        <p class="lg:text-lg md:text-base text-sm pt-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quaerat atque, iure totam sed
                            laudantium amet eaque! Labore, voluptatibus ducimus? Quos unde quisquam omnis saepe veniam
                            blanditiis accusantium totam a.
                            <br><br>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ratione blanditiis
                            veniam illo nemo enim perspiciatis, ea deserunt. Modi alias omnis ipsa ratione, error nemo
                            saepe accusantium aliquam? Laborum, maiores.
                            <br><br>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ratione blanditiis
                            veniam illo nemo enim perspiciatis, ea deserunt. Modi alias omnis ipsa ratione, error nemo
                            saepe accusantium aliquam? Laborum, maiores.
                            <br><br>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ratione blanditiis
                            veniam illo nemo enim perspiciatis, ea deserunt. Modi alias omnis ipsa ratione, error nemo
                            saepe accusantium aliquam? Laborum, maiores.
                            <br><br>
                        </p>


                        <h1 class="lg:text-3xl md:text-xl text-lg mb-2 mt-8">
                            Halo-Halo
                        </h1>

                        <p class="lg:text-lg md:text-base text-sm pt-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quaerat atque, iure totam sed
                            laudantium amet eaque! Labore, voluptatibus ducimus? Quos unde quisquam omnis saepe veniam
                            blanditiis accusantium totam a.
                            <br><br>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ratione blanditiis
                            veniam illo nemo enim perspiciatis, ea deserunt. Modi alias omnis ipsa ratione, error nemo
                            saepe accusantium aliquam? Laborum, maiores.
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-yellow-100 flex dark:bg-gray-800 justify-center w-full items-center h-10 mt-20">
            <h1 class=" dark:text-gray-200 text-gray-800 font-mono">
                Mr.T0t000
            </h1>
        </footer>
    </div>

    <script src="../DarkMode.js"></script>
</body>

</html>